@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --fit-red: #E50914;
  --fit-grey: #1C1C1C;
  --fit-brown: #F2E7DC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-fit-red: var(--fit-red);
  --color-fit-grey: var(--fit-grey);
  --color-fit-brown: var(--fit-brown);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-outfit: var(--font-outfit);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: outfit, Arial, Helvetica, sans-serif;
}

.bg-img-hero-section{
  background-image: url('/icons/main/hero-section.png');
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 60% auto;
}
.scrollbar-hide{
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  overflow: -moz-scrollbars-none; /* Webkit */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
};

/* .{
  animation: rotate 0.5s ease-in-out forwards;
}

@keyframes rotate {
  0%{
    transform:rotate(0deg)
  }
  100%{
    transform:rotate(180deg)
  }
} */